


@font-face {
  font-family: Jakarta-regular;
  src: local('Jakarta-regular'), url(./fonts/plus_jakarta_plus/PlusJakartaSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Jakarta-semi;
  src: local('Jakarta-semi'), url(./fonts/plus_jakarta_plus/PlusJakartaSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: Jakarta-bold;
  src: local('Jakarta-bold'), url(./fonts/plus_jakarta_plus/PlusJakartaSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: Montserrat;
  src: local('Jakarta-bold'), url(./fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
}

body{
  margin: 0;
  overflow-x: hidden;
}
.home-container{
  border: 1px solid red;
  height: 100vh;
  margin-top: 12vh;
}
.about-container{
  border: 1px solid blue;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container{
  height: 12vh;
  width: 90%;
  display: flex;
  flex: 5;
  position: fixed;
  z-index: 1;
  background-color: transparent;
  top: 0;
  padding-left: 5%;
  padding-right: 5%;
}
.echo{
  flex: 1;
  height: inherit;
  display: flex;
}
.logo{
  height: inherit;
  display: flex;
  align-items: center;
}
.logo img{
  width: 50px;
  height: 50px;
}
.echo-text{
  height: inherit;
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 22px;
  color: #8407CC;
  margin-left: 15px;
  font-family: Jakarta-semi;

}
.nav-list{
  flex: 3;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.item{
  height: inherit;
  display: flex;
  align-items: center;
  width: fit-content;
  color: #55555C;
  font-size: 16px;
  width: fit-content;
  margin-right: 50px;
  font-family: Jakarta-regular;
}
.nav-button{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: default;
}
.btn-1{
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 8px;
  background-color:#8407CC;
  color: #FFFFFF;
  font-size: 16px;
  font-family: Jakarta-bold;
}

.btn-2{
  background-color:#8407CC;
  color: #FFFFFF;
  width: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 24px;
  border-radius: 8px;
  font-family: Jakarta-bold;
}

.cards-container{
  border: 2px solid red;
  height: 100vh;
}
.choose-container{
  border: 2px solid green;
  height: 100vh;
}

.contact-container{
  border: 2px solid yellow;
  height: auto;
  display: flex;
  justify-content: center;
  cursor: default;

}
.contact-wrap{
  width: 90%;
}
.contact-header{
  text-align: center;
  font-family: Jakarta-semi;
  font-size: 26px;
  color: #000000;
}
.contact-desc{
  text-align: center;
  font-family: Jakarta-regular;
  font-size: 20px;
  color: #000000;
  line-height: 30px;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 20px;
}
.contact-team{
  border: 2px solid red;
  height: auto;
  display: flex;
  flex: 2;
  margin-top: 50px;
}
.team{
  flex: 1;
}
.team-desc{
  margin-top: 50px;
}
.desc-wrap{
  display: flex;
}
.team-num{

}
.t-1{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAAAAD;
  font-family: Montserrat;
  font-size: 22px;
  background-color: #F2F2F3;
}
.team-text{
  align-items: center;
  margin-left: 20px;
}
.t-header{
  color: #CCCCCE;
  font-family: Jakarta-semi;
  font-size: 18px;
}
.t-text{}
.contact-form{
  border: 2px solid green;
  flex: 1;
}
.t-desc{
  color: #CCCCCE;
  font-family: Jakarta-regular;
  font-size: 16px;
  margin-top: 20px;
  line-height: 30px;
}
.form-1{}
.form-2{}
.footer-container{
  border: 2px solid blue;
  height: auto;
  display: flex;
  justify-content: center;
  cursor: default;
}

.foot-wrap{
  width: 100%;
}

.echodydx{
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}
.echo-header{
  display: flex;
  height: inherit;
}
.foot-logo{
  height: inherit;
  display: flex;
  align-items: center;
}
.echo-desc{
  height: inherit;
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 20px;
  color: #8407CC;
  margin-left: 15px;
  font-family: Jakarta-semi;
}

.foot-logo img{
  width: 45px;
  height: 45px;
}
.foot-desc{
  display: flex;
  flex: 2;
  margin-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
}
.desc-1{
  flex: 1;
  width: fit-content;
  color: #55555C;
  font-size: 18px;
  font-family: Jakarta-regular;
  letter-spacing: -2%;
  line-height: 30px;
}
.desc-wrap{
  width: 80%;
}
.social-icons{
  flex: 1;
  display: flex;
  justify-content: end;
}
.social{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 10px;
  background-color: #F9F0FE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social img{
  width: 20px;
  height: 20px;
}
.foot-service{
  margin-top: 100px;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}
.service-header{
  font-family: Jakarta-bold;
  color: #000024;
  font-size: 18px;
  margin-bottom: 50px;
}
.service-desc{
  margin-right: 60px;
}
.service-1{
  color: #55555C;
  font-family: Jakarta-regular;
  font-size: 18px;
  margin-top: 20px;
}
.foot-trademark{
  border-radius: 8px;
  height: auto;
  padding: 20px;
  color: #55555C;
  font-family: Jakarta-regular;
  font-size: 18px;
  line-height: 30px;
  background-color: #FAFAFA;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
}
.foot-copyright{
  border-top: 2px solid #E5E5E6;
  height: 100px;
  margin-top: 100px;
  padding-left: 200px;
  display: flex;
  align-items: center;
  color: #55555C;
  font-family: Jakarta-regular;
}

@media screen and (max-width: 1020px) and (min-width:50px){
  body{
      margin: 0;
      padding: 0;
  }

  .btn-1{
    display: none;
  }

  .btn-2{
    display: flex;
  }

  .nav-list{
    display: none;
  }
  .foot-desc{
    flex-direction: column;
  }
  .desc-wrap{
    width: 100%;
  }
  .social-icons{
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .foot-service{
    flex-direction: column;
  }
  .service-desc{
    margin-right: 0px;
    margin-top: 30px;
  }

  .foot-copyright{
    padding-left: 0px;
    justify-content: center;
  }

  .contact-team{
    flex-direction: column;
  }
}